

/* MEDIDAS PARA DESKTOP  */
/* .container{
    width: 1300px;
    margin: 0 auto;

}

.logo{
    width: 300px;
    margin: 1rem;
    }

    .container_home{
    background-image: url('https://menu.harlemburgas.com.ar/assets/img/home.jpg');
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -197px;
    
    background-color: red;
    height: 225px;
    margin: 1rem auto;
    width: 1100px;
    border: 1px solid white;
    box-shadow: 5px 5px 20px  0.8px  rgb(37, 37, 37)

    }

    .home{
    width: 100%;
    } */