.container{
    box-sizing:border-box;
    width: 100%;
    background-color: rgb(19, 19, 19);
    color: #fff;
    padding: 0 0 2rem;

}

.divOptions{
    
    box-sizing: border-box;
    width: 80%;
    min-width: 220px;
    text-align: center;
    padding: 0.4rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.option{
    padding: 0 0.4rem;
    max-width: 100px;
}

.section{
    font-size: 0.8rem;
    color: #E5BD1A;
    margin: 0 auto;
}

.enlace{
    text-decoration: none;
    margin: 1.1rem;
}

.btn{
    font-size:4rem;
    cursor: pointer;
    background-color: transparent;
    color: #E5BD1A;
    
    border: none;
}


.option:hover  .btn{
    color: #ffe98f;
}
.option:hover .section{
    color: #ffe98f;
}
