.container{
    background-color: #131313;
    padding: 1rem;
}

.title{
    color: #E5BD1A;
    padding: 1rem;
    width: fit-content;
    margin: 0 auto;   
    font-size: 2rem;
}

.divOptions{
    min-width: 340px;
    width: 90%;
    max-width: 450px;
    margin: 1rem auto;
}

