.container {
    background-color: #E5BD1A;
    border: 1px solid black;
    min-height: 100px;
    margin: 2rem auto;
    padding: 1rem;
    margin-top: 0;
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
}



.option{
    font-size: 1.2rem;
    color: #E5BD1A;
    opacity: 1;
    border: none;
    width: fit-content;
    margin: 0 auto;
}

.link{
    color: #ddd;
    font-weight: 700;
    text-decoration: none;
    background-color: #111;
    padding: 0.2rem 0.6rem;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
}