.container{
    box-sizing:border-box;
    
    width: 100%;
    
    background-color: rgb(19, 19, 19);
    box-shadow: 6px 6px 20px  0.8px rgb(37, 37, 37);
    color: #fff;
    height: 70vh;
    
    
}

hr{
    margin: 0;
    width: 95%;
    opacity: .1;
}

.option{
    box-sizing: border-box;
    border: 5px solid #E5BD1A;
    background-color: #5B0002;
    padding: 1rem 0.4rem;
    border-radius: 1rem;
    width: 50%;
    max-width: 150px;
    margin: 1rem auto;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.section{
    border: none;
    font-size: 0.8rem;
    width: fit-content;
    padding: 0;
    color: #fff;
    opacity: 1;
    margin: 0 auto;
    
}

.sub_section{
    font-weight:600;
    font-size: 0.8rem;
    opacity: .5;
}

.btn{
    font-size: 2rem;
    cursor: pointer;
    color: white;
    background-color: #5B0002;
    border: none;
    margin-top: 1rem;
    
}

